@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root{
    --h1: 61.04px;
    --h2: 48.83px;
    --h3: 39.06px;
    --h4: 31.25px;
    --h5: 25px;
    --h6: 20px;
    --p:16px;
    --small:12.8px;

    --color1: #FC5656;
    --color2: #B32FD3;

    --gray:#8a939f;
    --black:#131313;

    --bg:#F7F7FB;
}
@media(max-width:767px){
    :root{
        --h1: calc(61.04px * 0.5);
        --h2: calc(48.83px * 0.4);
        --h3: calc(39.06px * 0.6);
        --h4: calc(31.25px * 0.7);
        --h5: calc(25px * 0.7);
        --p:calc(16px * 0.8);
        --small:calc(12.8px * 0,8);
 
    }
}
body{font-size:16px;font-weight:normal;font-family:'Montserrat'}

.h1{font-size:var(--h1)!important}
.h2{font-size:var(--h2)!important}
.h3{font-size:var(--h3)!important}
.h4{font-size:var(--h4)!important}
.h5{font-size:var(--h5)!important}
.h6{font-size:var(--h6)!important}
.p{font-size:var(--p)}
.small{font-size:var(--small)}

.justify-content-between{justify-content: space-between;}
.justify-content-center{justify-content: center;}
.align-items-bottom{align-items: flex-end;}
.align-items-center{align-items: center;}
.align-items-top{align-items: flex-start;}
p,
span,
h1,
h2,
h3,
h4,
h5{
    color:#131313;
}
header{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    padding:3rem 2rem;
    width:100%;
}
header.scrolled #apx_toggleMenu{}
#apx_toggleMenu .color-white{transition: color .3s}
header.scrolled #apx_toggleMenu .color-white{color:var(--black)!important}
header img{transition:opacity .3s;}
header.scrolled img{opacity:0;}
#hero{
    background:#131313;
    min-height:100vh;
    width:100%;
    border:10px solid #fff;

}
#hero .hero_content{
    width:1000px;
    max-width:100%
}
.gradient-background-1{
    background: linear-gradient(90deg, #B32FD3 0%, #FC5656 100%);
}
.gradient-background-2{
    background: linear-gradient(90deg, #FC5656 0%, #B32FD3 100%);
}
.gradient-text-1{
    background: -webkit-linear-gradient(90deg, #B32FD3 0%, #FC5656 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text-2{
    background: -webkit-linear-gradient(90deg, #FC5656 0%, #B32FD3 100%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-bolder{font-weight:700}
.font-bold{font-weight:600}
.font-semi{font-weight:500}
.font-light{font-weight:300}
.font-normal{font-weight:400}

.p-relative{position:relative;}
.align-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.l-spacing-1{letter-spacing:1px}
.l-spacing-2{letter-spacing:2px}
.l-spacing-3{letter-spacing:3px}
.color-white{color:#fff!important;}

.border-inside-white{box-shadow: inset 0px 0px 0px 2px #fff;}
.border-inside-black{box-shadow: inset 0px 0px 0px 2px #131313;}

.btn{border-radius:0;}

#apx_toggleMenu{
    display: flex;
    align-items: center;
    gap: 30px;
    border:0;padding:0;background:transparent;
    position:relative;
    z-index:2
}
#apx_toggleMenu > div{
    background: #fff;
    border: 0;
    height: 35px;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}
#apx_toggleMenu > div span{
    height:10px;
    width:10px;
    display:block;
}
#apx_toggleMenu > div span:nth-child(1),
#apx_toggleMenu > div span:nth-child(4){
    background:var(--color2);
}
#apx_toggleMenu > div span:nth-child(2),
#apx_toggleMenu > div span:nth-child(3){
    background:var(--color1);
}
#apx_toggleMenu.active,
header.scrolled #apx_toggleMenu.active .color-white{color:#fff!important;}
#apx_toggleMenu.active > div{position:relative;}
#apx_toggleMenu.active > div span:nth-child(2),
#apx_toggleMenu.active > div span:nth-child(4){
    display:none;
}

#apx_toggleMenu.active > div span:nth-child(1){
    width: 100%;
}
#apx_toggleMenu.active > div span:nth-child(3){
    width: 50%;        
}

.gray-bg{
    background:var(--bg)
}
.black-bg{
    background:var(--black)
}

.services_item .d-flex{gap:15px;}

.section-title-full{
    width:900px;    
    max-width:100%;
}

.ml-auto{margin-left:auto}
.mr-auto{margin-right:auto}

.text-gray{color:var(--gray)}

.headcap{height:5px;width:50px;display:inline-block;vertical-align:middle;margin-right:.5rem;margin-top: -1px;}
.headcap.r{margin-left:.5rem;margin-right:0;}

.lh-p-double{
    line-height: calc(var(--p) * 2);
}

.img-responsive{max-width:100%;}

.partners_item{
    text-align:center;
}
#apx_menu.active{right:10px;}
#apx_menu{
    position: fixed;
    top: 10px;
    right: -350px;
    width: 320px;
    background: #131313;
    height: calc(100vh - 20px);
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    text-align: right;
    z-index:1;
    transition:right .5s;
}
#apx_menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
#apx_menu ul li{}
#apx_menu a{text-decoration:none;color:#fff;}

@media(max-width:990px){
    #hero .hero_content{padding:30px;}
    #hero{border-width:5px;}
    header{padding:15px 5px;}
    header h1 img{height:36px;}
    #apx_toggleMenu .color-white{font-size:12px;}
    #apx_toggleMenu{gap:15px;}

    #apx_menu.active{right:0;}
    #apx_menu{
        height: 100vh;
        width: 100vw;
        top: 0;
        right:-100vw;
        
        box-shadow:unset;
    }
}

.services_item-flag{
    position:absolute;
    top: 10px;
    left:10px;
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    gap:10px;
}
.services_item-flag li{
    background: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 30%);
}

.services_item-flag img{height:15px;}